**/.vscode
**/.pio
**/History
**/__Previews
Altium Designer Project/Project Logs for Graduate Work
Server/*.egg-info
Server/*.pot
Server/*.py[co]
Server/.idea/
Server/.tox/
**/__pycache__/
Server/MANIFEST
Server/dist/
Server/docs/_build/
Server/docs/locale/
Server/node_modules/
Server/tests/coverage_html/
Server/tests/.coverage
Server/build/
Server/tests/report/
Server/venv/
