Code/.vscode
Code/.gitignore
Code/.pio
Test Code/.pio
Test Code/.vscode
Test Code/.gitignore
Altium Designer Project/History
Altium Designer Project/__Previews
Altium Designer Project/Template/__Previews
Altium Designer Project/Library/History
Altium Designer Project/Project Logs for Graduate Work
Altium Designer Project/Project Outputs for Graduate Work/Gerber/__Previews
Altium Designer Project/Project Outputs for Graduate Work/NC Drill/__Previews
Server/.vscode
Server/bin
Server/lib
Server/WebServer/__pycache__
