*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body.NotFound, html.NotFound{
    background: white;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
a.NotFound, li, header label{
    background: black;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px white solid;
}
nav a,a.NotFound{
    text-decoration: none;
}
nav a, a.NotFound, header label, label#search input{
    color: white;
}
label#search{
    cursor: auto;
}
a.NotFound:hover, li:hover, label#search:hover{
    border: 2px grey solid;
    background: white;
}
a.NotFound:hover, li:hover a, label#search:hover, label#search:hover input{
    color: black;
}
li#active:hover a{
    color:white;
}
input[type=search]{
    background: none;
    border: none;
}
input[type=search]:focus, header button{
    outline: none;
}
li#active{
    background: grey;
    color: white;
    border: black 2px solid;
}
li#active:hover{
    border-color: grey;
}
input[type=search]{
    cursor: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin: 0px 1px;
}
.main{
    background: black;
    width: 75vh;
    height: 75%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    border: 2px solid grey;
    border-radius: 10px;
    flex-wrap: wrap;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text > *{
    padding: 20px;
}
.error{
    font-size: 10rem;
    margin: 10px;
}
.fas{
    margin-right: 4px;
}
.forMobile{
    display: none;
}
@media (max-aspect-ratio: 9/10) {
    .main{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}
@media (max-width: 701px) {
    header{
        flex-direction: column;
        margin-top: 0;
    }
    ul{
        flex-direction: column;
    }
    nav, label#search{
        display: none;
    }
    li, li#active, header label{
        border-radius: 0;
        margin: 0;
        border: 0;
    }
    li:hover, li#active:hover, label#search:hover{
        border: 0;
    }
    .forMobile{
        display: block;
        cursor: auto;
    }
    button{
        background: none;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    button .fas{
        min-width: 16px;
    }
}
@media (max-width: 1000px) and (min-width: 701px){
    header, nav ul{
        flex-wrap: wrap;
    }
    nav ul{
        width: 100%;
        justify-content: space-between;
    }
    nav{
        width: 100%;
    }
    li{
        flex-grow: 1;
    }
    header label{
        width: 100%;
    }
}